/**
 *  flex style css util
 */

.to-flex {
    display: flex;
    display: -webkit-flex;
}

.in-col {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.set-center {
    justify-content: center;
    -webkit-justify-content: center;
}

.set-bet {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.set-end {
    justify-content: flex-end;
    -webkit-justify-content:flex-end;
}